@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
/* ¯\_(´・ω・｀)_/¯ */
   
a:link, a:visited{
    color: #346579;
    text-decoration: underline;
}

a:link:active, a:visited:active{ 
    color: #041494;
}

a:hover{
    color: #666666;
}
