@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
/* ¯\_(´・ω・｀)_/¯ */
   
* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", 'Courier New', Courier, monospace;
}

body {
    background-color: #999999;
}

#navbar {
    position: fixed;
    top: 0;
}

#navbar, #navbar-ul {
    background-color: #666666;
}

#navbar-ul {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#navbar-ul li {
    float: left;
    border-right: 1px dotted #ff0000;
}

/*#navbar-ul li:last-child {
    border-right: none;
}*/

#navbar-ul a {
    display: block;
    padding: 15px;
    color: #0000ff;
    text-decoration: none;
}

#navbar-ul li a:hover {
    background-color: #000099;
    color: #66ffff;
    text-decoration: none;
}

#navbar-ul #current {
    background-color: #333333;
    color: #660099;
}

#navbar-ul #current span{
    text-decoration: underline;
}

#een {
    margin-top: 50px;
    width: 85%;
    margin-left: 90px;
    height: 550px;
    background-color: #ffffff;
}

#dingetje {
    padding: 50px;
}

#twee, #vier, 
#drie, #vijf {
    display: none;
    background-color: cornflowerblue;
    background-color: darkred;
}

#een, #twee, #drie,
#vier, #vijf {
    text-align: center;
}

a:link, a:visited {
    color: #0066ff;
    text-decoration: dotted underline;
}

a:link:active, a:visited:active { 
    color: #000099;
    text-decoration: none;
}

a:hover {
    color: #660099;
}
