@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
/* ¯\_(´・ω・｀)_/¯ */
   
* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono", 'Courier New', Courier, monospace;
}

#navbar-ul{
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

#navbar-ul li{
    float: left;
    background-color: blanchedalmond;
}

#navbar-ul a{
    display: block;
    padding: 15px;
    text-decoration: none;
}

#navbar-ul li a:hover{
    background-color: #041494;
    color: aquamarine;
    text-decoration: none;
}

#navbar-ul #current{
    background-color: #666666;
    color: blueviolet;
}

#navbar, #navbar-ul {
    background-color: rgb(0, 255, 149);
}

#vier {
    background-color: aqua;
}

#een, #drie, #vijf {
    background-color: darkred;

}
#twee, #zes {
    background-color: cornflowerblue;
}

a:link, a:visited{
    color: #346579;
    text-decoration: underline;
}

a:link:active, a:visited:active{ 
    color: #041494;
}

a:hover{
    color: #666666;
}
